<div class="container archivo">
  <h1>
    Your Profile
  </h1>
  <div class="jumbotron">
    <div class="row">
      <div class="col">
        First Name:
      </div>
      <div class="col">
        {{ firstName }}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        Last Name:
      </div>
      <div class="col">
        {{ lastName }}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        Username:
      </div>
      <div class="col">
        {{ username }}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        Email Address:
      </div>
      <div class="col">
        {{ email }}
      </div>
    </div>
  </div>
</div>
